extends base.pug

block styles
  include league.css

block body
  each ranking in rankings
    .group
      .heading
        span.rank= `#${ranking.rank}`
        span.rating= ranking.point
      .body
        .members
          each member in ranking.tag_members
            .member
              img(src=`${imageBasePath}/weapon/${member.weapon.id}.png`, width=32, height=32)
              span.player-name= playerNames[member.principal_id]

  footer
    div
      a(href="#")= splatoonStatsUrl
